.impressum-wrapper {
  color: white;
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;
  line-height: 22px;
  font-size: 16px;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 1200px) {
    max-width: 760px;
  }

  @media (max-width: 768px) {
    max-width: 356px;
  }

  .section-wrapper {
    padding-bottom: 4em;

    .section-header {
      padding-bottom: 2rem;
      font-weight: 600;
    }

    .section-text-section {
      padding-bottom: 1.5em;
      .secondary-header {
        margin-bottom: -1em;
      }
    }
  }
}
