$mainGreen: #688563;

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15em 2em 4em 2em;
  background-color: $mainGreen;
  padding-bottom: 18rem;
  flex-direction: column;

  @media (max-width: 767px) {
    padding: 13rem 2rem 25rem 2rem;
  }

  &.project {
    background-color: white;
  }
}
