.project-page {
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 32px;
    color: #979797;
    font-weight: 100;

    .title {
      font-size: 2rem;
      padding-bottom: 2rem;
    }

    .description {
      white-space: pre-line;
      width: 65%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .description_secondary {
      padding-top: 2rem;
      width: 65%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .description_secondary-main,
    .description_third-main {
      font-weight: bold;
      padding-right: 1em;
      @media (max-width: 767px) {
        padding-right: 0em;
      }
    }

    .secondary-wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 1.5em;
    }
  }
}

.secondary-video-description {
  font-family: 'Raleway', sans-serif;
  line-height: 32px;
  color: #979797;
  font-weight: 100;
  padding-bottom: 2em;
}

.angled-line-project {
  padding-top: 5rem;
}
