$mainGreen: #16665d;
$background: #d9ebbe;
$fontColor: #979797;
$underline: #ca5541;

.footer {
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: $fontColor;

  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 40px;
    transform-origin: bottom left;
    z-index: 100;
    background-color: $background;
  }

  &__wrapper {
    position: absolute;
    bottom: 0px;
    border-top: 2px solid $underline;
    width: 100vw;
    padding: 5rem 2rem;
    background-color: $background;
    transform: skewY(-1deg);
  }

  .footer__text_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    transform: skewY(1deg);
    .get_in_touch {
      font-size: 35px;
      color: #90a996;
      font-weight: 700;
    }

    @media (max-width: 767px) {
      flex-direction: column;

      > * {
        padding-bottom: 1em;
      }
    }

    .footer__column {
      padding-right: 4rem;
      line-height: 20px;

      .text-link {
        text-decoration: underline $fontColor;
        color: $fontColor;
      }

      @media (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }
  }
}
