$mainGreen: #688563;
$background: #c2d2a8;
$fontColor: #979797;
$underline: #ca5541;

.footer {
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: white;

  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 40px;
    transform-origin: bottom left;
    z-index: 100;
    background-color: $background;
  }

  &__wrapper {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid $underline;
    width: 100vw;
    padding: 5rem 2rem 3rem 2rem;
    background-color: $background;
    transform: skewY(-1deg);
    @media (max-width: 768px) {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }
  }

  .footer__text_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    transform: skewY(1deg);
    .lets_connect {
      font-size: 25px;
      color: $mainGreen;
      font-weight: 800;
    }

    .text {
      .text-footer-link {
        font-weight: 600;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: white;
      }
    }

    .contact-wrapper {
      display: flex;
      flex-direction: column;
      .text:first-of-type {
        padding-bottom: 2rem;
      }

      .text {
        .text-footer-link {
          font-weight: 600;
          letter-spacing: 0.5px;
          text-decoration: none;
          color: white;
        }
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      > * {
        padding-bottom: 1em;
      }
    }

    .footer__column:first-of-type {
      width: 50vw;
      font-weight: 300;
      @media (max-width: 768px) {
        width: auto;
        height: 15vh;
        margin-bottom: 5em;
      }
    }

    .footer__column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 4rem;
      line-height: 20px;

      .impressum {
        color: white;
        font-weight: 400;

        &:hover {
          opacity: 0.5;
        }
      }

      &:first-child .text-link {
        text-decoration: underline $fontColor;
        color: $fontColor;
      }

      @media (max-width: 768px) {
        margin-bottom: 0.5rem;
        flex-direction: column;
      }
    }
  }
}
