$mainGreen: #688563;
$background: white;
$underline: #ca5541;

.navbar {
  background: white;
  height: 120px;
  display: flex;
  transform: rotate(-1deg);
  z-index: 1;
  flex-direction: row;
  align-items: center;
  width: 110vw;
  position: fixed;
  top: -20px;
  left: -3px;
  overflow: hidden;

  &.active {
    background: #c2d2a8;
  }

  .navbar-wrapper {
    width: 1280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1220px) {
      max-width: auto !important;
      padding: 0rem 4rem;
    }
  }

  .first_name {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
  }

  &__name {
    font-family: 'Lora', serif;
    font-weight: 900;
    font-style: normal;
    margin-top: auto;
    color: $mainGreen;
    font-size: 2.5rem;
    transform: rotate(1deg);
    bottom: -77px !important;
    position: absolute;

    &.active {
      color: white;
    }

    @media (max-width: 768px) {
      bottom: -50px;
      left: calc(50% - 178px + (100vw - 110vw) / 2);
    }

    @media (min-width: 1201px) {
      left: calc(50% - 582px + (100vw - 110vw) / 2);
    }

    @media (min-width: 769px) and (max-width: 1201px) {
      left: calc(50% - 379px + (100vw - 110vw) / 2);
    }
  }

  &__wrapper {
    position: absolute;
    transform: rotate(1deg);
    bottom: -23px;

    @media (min-width: 1201px) {
      left: calc(50% - (-1 * 400px) + (100vw - 110vw) / 2);
    }

    @media (max-width: 1201px) {
      left: calc(50% - (-1 * 200px) + (100vw - 110vw) / 2);
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;

    &.portfolio-page {
      color: white;
    }

    .hallo-link {
      margin-left: 5rem;
      text-align: right;
    }

    a {
      color: #979797;
      text-decoration: none;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      position: relative;
      display: inline-block;

      &.active {
        color: $underline;
      }

      &.portfolio-page {
        color: white;
      }

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
